* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
button {
  margin: 9px;
}
#counter {
  border-radius: 50%;
}
